<div class="flex">
	<div id="hero" class="col-12 p-5">
		<div class="flex-lg-row align-items-center">
			<div class="col-12 col-lg-6 offset-lg-3 text-center">
				<h1 class="display-1 fw-bold lh-5 mt-5 mb-5 text-white">Great clothes, made simple!</h1>
				<a href="/shop/" class="btn btn-outline-secondary btn-lg px-4 me-md-2">Shop</a>
			</div>
		</div>
	</div>
	<div class="col-10 offset-1 py-5 mb-2">
		{{{@root.config.cartCode}}}
	</div>
</div>